# Is the App set up?

This file is used to have a test run once the app is set up to ensure there are no issues with the run.